.color{
 
    background: white;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border: 5px solid red;
    border-radius: 25px;
    width: 350px;

}
.containerCenter{ 
   
    margin-left: 620px;
    margin-top: 30px;

  }